apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: cloudnative-app
  labels:
    app: grafana
spec:
  type: NodePort
  ports:
  - port: 3001
    targetPort: 3001
    nodePort: 30030
    protocol: TCP
    name: web
  selector:
    app: grafana
